/*-------DESIGN SYSTEM---------*/

:root {
  /* // Global Tokens*/

  /* colors*/
  --color-beige: #f9f1e4;
  --color-orange: #ffab07;
  --color-green: #3d7d7d;
  --color-brown: #482828;
  --color-black: black;
  --color-transparent: transparent;

  /*fonts*/

  --font-family-display: "Madela", serif;
  --font-family-heading: "neue-haas-grotesk-display", sans-serif;
  --font-family-body: "neue-haas-grotesk-display", sans-serif;

  /*font weight*/
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  /*heading size desktop view*/

  --heading-font-size-largest: 6rem;
  --heading-font-size-large: 3rem;
  --heading-font-size-medium: 2.5rem;
  --heading-font-size-small: 2rem;
  --heading-font-size-smallest: 1.8rem;

  /*heading size mobile view*/

  --heading-mobile-font-size-largest: 3.2rem;
  --heading-mobile-font-size-large: 2.188rem;
  --heading-mobile-font-size-medium: 1.875rem;
  --heading-mobile-font-size-small: 1.563rem;
  --heading-mobile-font-size-smallest: 1.375rem;

  /*line height*/

  --heading-line-height: 1.3;
  --text-line-height: 1.5;
  --button-line-height: 1.2;

  /*text font size*/

  --text-font-size-largest: 1.25rem;
  --text-font-size-large: 1.125rem;
  --text-font-size-default: 1rem;
  --text-font-size-small: 0.875rem;

  /*letter spacing*/

  --letter-spacing-small: 0.03rem;
  --letter-spacing-medium: 0.05rem;

  /*width*/

  --width-largest: 35rem;
  --width-large: 20rem;
  --width-medium: 17rem;
  --width-small: 13rem;
  --width-smaller: 11rem;
  --width-smallest: 8rem;

  /*alignment*/
  --center: center;

  /*spacing and padding*/

  --spacing-10: 0.5rem;
  --spacing-15: 1rem;
  --spacing-20: 2rem;
  --spacing-30: 3rem;
  --spacing-40: 4rem;
  --spacing-80: 8rem;

  --padding-5: 0.5rem;
  --padding-10: 1rem;
  --padding-20: 2rem;
  --padding-30: 3rem;
  --padding-40: 4rem;
  --padding-50: 5rem;

  /*border width*/

  --border-width-thick: 2px;
  --border-width-thicker: 3px;
  --border-width-thin: 1px;

  --timing-function-default: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-medium: 300ms;
  --transition: all 0.2s ease-in-out;

  /*grids*/
  --one-column-grid: 1fr;
  --two-column-grid: 1fr 1fr;
  --three-column-grid: 1fr 1fr 1fr;
  --four-column-grid: 1fr 1fr 1fr 1fr;

  /*// Contextual tokens desktop*/
  --color-text-default: var(--color-black);
  --color-text-display: var(--color-green);
  --color-text-heading: var(--color-brown);

  --color-background-default: var(--color-beige);
  --color-background-accent: var(--color-orange);
  --color-accent-green: var(--color-green);
  --color-transparent: var(--color-transparent);

  --gutter: var(--spacing-15);

  --text-stroke-width: var(--border-width-thin);
  --text-transparent: var(--color-transparent);

  /*//Component tokens headings desktop*/
  --heading-display-font-size: var(--heading-font-size-largest);
  --heading-display-line-height: var(--heading-line-height);
  --heading-display-margin-bottom: var(--spacing-15);

  --heading-2-font-size: var(--heading-font-size-large);
  --heading-2-line-height: var(--heading-line-height);
  --heading-2-margin-bottom: var(--spacing-15);

  --heading-3-font-size: var(--heading-font-size-medium);
  --heading-3-line-height: var(--heading-line-height);
  --heading-3-margin-bottom: var(--spacing-15);

  --heading-4-font-size: var(--heading-font-size-small);
  --heading-4-line-height: var(--heading-line-height);
  --heading-4-margin-bottom: var(--spacing-15);

  --heading-5-font-size: var(--heading-font-size-smallest);
  --heading-5-font-size: var(--heading-line-height);
  --heading-5-margin-bottom: var(--spacing-15);

  /*//Components tokens headings mobile*/
  --heading-display-mobile-font-size: var(--heading-mobile-font-size-largest);
  --heading-display-line-height: var(--heading-line-height);
  --heading-display-margin-bottom-mobile: var(--spacing-10);

  --heading-2-mobile-font-size: var(--heading-mobile-font-size-large);
  --heading-2-line-height: var(--heading-line-height);
  --heading-2-margin-bottom-mobile: var(--spacing-10);

  --heading-3-mobile-font-size: var(--heading-mobile-font-size-medium);
  --heading-3-line-height: var(--heading-line-height);
  --heading-3-margin-bottom-mobile: var(--spacing-10);

  --heading-4-mobile-font-size: var(--heading-mobile-font-size-small);
  --heading-4-line-height: var(--heading-line-height);
  --heading-4-margin-bottom-mobile: var(--spacing-10);

  --heading-5-mobile-font-size: var(--heading-mobile-font-size-smallest);
  --heading-5-font-size: var(--heading-line-height);
  --heading-5-margin-bottom-mobile: var(--spacing-10);

  --heading-width-mobile: var(--width-medium);

  /*//Component tokens text desktop*/

  --text-font-size-button: var(--text-font-size-largest);
  --text-font-size-body: var(--text-font-size-large);
  --text-font-size-body-small: var(--text-font-size-medium);
  --text-font-size-smallest: var(--text-font-size-small);

  /*// Component tokens - buttons desktop*/
  /*// CTA desktop*/
  --CTA-button-background-color: var(--color-background-default);
  --CTA-button-background-color-hover: var(--color-transparent);

  /*//Regular desktop*/
  --button-background-color: var(--color-background-transparent);
  --button-background-color-hover: var(--color-background-default);

  /*//Default desktop*/
  --button-default-background-color: var(--color-background-transparent);
  --button-default-text-color: var(--color-text-default);
  --button-default-border-color: var(--color-text-default);
  --button-default-font-weight: var(--font-weight-bold);
  --button-default-background-color-hover: var(--color-black);
  --button-default-text-color-hover: var(--color-beige);

  /*//Rules for all buttons*/
  --button-border-color: var(--color-accent-green);
  --padding-left-right-button: var(--padding-40);
  --padding-top-bottom-button: var(--padding-10);
  --margin-top-bottom-button: var(--spacing-15);
  --border-width-button: var(--border-width-thick);
  --button-line-height: var(--button-line-height);
  --button-text-color: var(--color-green);
  --button-border-width-focus: var(--border-thicker);
  --button-max-width-desktop: var(--width-small);

  /*//Buttons mobile*/
  --button-max-width-mobile: var(--width-smaller);
  --button-mobile-font-size: var(--text-font-size-default);
  --button-mobile-padding: var(--spacing-15);
  --button-mobile-alignment: var(--center);

  /*//Buttons states*/
  --button-transition: var(--transition);

  /*//Links desktop*/
  --link-font-size: var(--text-font-size-default);
  --link-text-color: var(--color-brown);

  /*//Paragraph desktop*/
  --paragraph-text-font-size: var(--font-size-body);
  --paragraph-text-line-height: var(--spacing-20);
  --paragraph-letter-spacing: var(--letter-spacing-small);
  --paragraph-width: var(--width-largest);
  --paragraph-margin: var(--spacing-20);

  /*//Paragraph mobile*/
  --paragraph-mobile-text-font-size: var(--font-size-body);
  --paragraph-mobile-text-line-height: var(--spacing-20);
  --paragraph-mobile-letter-spacing: var(--letter-spacing-small);
  --paragraph-mobile-width: var(--width-medium);

  /*LAYOUT*/
  --body-padding-left-right: var(--padding-50);
  --body-mobile-padding-left-right: var(--padding-5);
  --grid-buttons-mobile: var(--one-column-grid);
  --one-column-grid-mobile: var(--one-column-grid);

  --border: solid var(--border-width-thin) var(--color-beige);
}

/*//GENERAL DESIGN SYSTEM RULES*/

html {
  background-color: var(--color-background-default);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: neue-haas-grotesk-display, sans-serif;
}

body {
  padding-left: var(--body-padding-left-right);
  padding-right: var(--body-padding-left-right);
}

/*Buttons*/

.CTA-button {
  background-color: var(--CTA-button-background-color);
  font-size: var(--text-font-size-button);
  padding-left: var(--padding-left-right-button);
  padding-right: var(--padding-left-right-button);
  padding-top: var(--padding-top-bottom-button);
  padding-bottom: var(--padding-top-bottom-button);
  color: var(--button-text-color);
  border: var(--border-width-button) solid var(--button-border-color);
  transition: var(--button-transition);
  margin-top: var(--margin-top-bottom-button);
  max-width: var(--button-max-width-desktop);
}

.button {
  background-color: var(--button-background-color);
  font-size: var(--text-font-size-button);
  color: var(--button-text-color);
  padding-left: var(--padding-left-right-button);
  padding-right: var(--padding-left-right-button);
  padding-top: var(--padding-top-bottom-button);
  padding-bottom: var(--padding-top-bottom-button);
  border: var(--border-width-button) solid var(--button-border-color);
  transition: var(--button-transition);
  margin-top: var(--margin-top-bottom-button);
  max-width: var(--button-max-width-desktop);
}

.default-button {
  background-color: var(--button-default-background-color);
  color: var(--button-default-text-color);
  font-size: var(--text-font-size-button);
  padding-left: var(--padding-left-right-button);
  padding-right: var(--padding-left-right-button);
  padding-top: var(--padding-top-bottom-button);
  padding-bottom: var(--padding-top-bottom-button);
  border: var(--border-width-button) solid var(--button-default-border-color);
  transition: var(--button-transition);
  margin-top: var(--margin-top-bottom-button);
  font-weight: var(--button-default-font-weight);
  max-width: var(--button-max-width-desktop);
}

/*Hover state buttons*/

.CTA-button:hover {
  background-color: var(--CTA-button-background-color-hover);
  text-decoration: none;
}

.button:hover {
  background-color: var(--button-background-color-hover);
  text-decoration: none;
}

.default-button:hover {
  background-color: var(--button-default-background-color-hover);
  color: var(--button-default-text-color-hover);
  text-decoration: none;
}

/*Focus state buttons*/

.CTA-button:focus {
  border: dashed 4px var(--button-border-color);
}

.button:focus {
  border: dashed 4px var(--button-border-color);
}

.default-button:focus {
  border: dashed 4px var(--button-default-border-color);
}

/*Headings and paragraphs*/

h1 {
  color: var(--color-text-display);
  font-size: var(--heading-display-font-size);
  line-height: var(--heading-1-line-height);
  font-family: var(--font-family-display);
  margin-bottom: var(--heading-display-margin-bottom);
}

h2 {
  color: var(--color-text-heading);
  font-size: var(--heading-2-font-size);
  line-height: var(--heading-2-line-height);
  font-family: var(--font-family-heading);
  margin-bottom: var(--heading-2-margin-bottom);
}

h3 {
  color: var(--color-text-heading);
  font-size: var(--heading-3-font-size);
  line-height: var(--heading-3-line-height);
  font-family: var(--font-family-heading);
  margin-bottom: var(--heading-3-margin-bottom);
}
h4 {
  color: var(--color-text-heading);
  font-size: var(--heading-4-font-size);
  line-height: var(--heading-4-line-height);
  font-family: var(--font-family-heading);
  margin-bottom: var(--heading-4-margin-bottom);
}
h5 {
  color: var(--color-text-heading);
  font-size: var(--heading-5-font-size);
  font-family: var(--font-family-heading);
  line-height: var(--heading-5-line-height);
  margin-bottom: var(--heading-5-margin-bottom);
}

p {
  font-family: var(--font-family-body);
  color: var(--color-text-default);
  font-size: var(--paragraph-text-font-size);
  line-height: var(--paragraph-text-line-height);
  letter-spacing: var(--paragraph-letter-spacing);
}

a {
  text-decoration: none;
  font-family: var(--font-family-body);
  font-size: var(--link-font-size);
  color: var(--link-text-color);
}

a:hover {
  text-decoration: underline;
}

/*/Visualizing the design system colors*/

.designsystem-colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-top: var(--spacing-30);
}

.color-background-default {
  width: 10rem;
  height: 10rem;
  background-color: var(--color-background-default);
  border-radius: 100px;
  border: solid 2px var(--color-black);
}
.color-background-accent {
  width: 10rem;
  height: 10rem;
  background-color: var(--color-background-accent);
  border-radius: 100px;
  border: solid 2px var(--color-black);
}
.color-headings {
  width: 10rem;
  height: 10rem;
  background-color: var(--color-text-display);
  border-radius: 100px;
  border: solid 2px var(--color-black);
}
.color-text {
  width: 10rem;
  height: 10rem;
  background-color: var(--color-text-default);
  border-radius: 100px;
  border: solid 2px var(--color-black);
}
.color-text-2 {
  width: 10rem;
  height: 10rem;
  background-color: var(--color-brown);
  border-radius: 100px;
  border: solid 2px var(--color-black);
}

@media only screen and (max-width: 700px) {
  body {
    padding-left: var(--body-mobile-padding-left-right);
    padding-right: var(--body-mobile-padding-left-right);
  }

  h1 {
    color: var(--color-text-display);
    font-size: var(--heading-display-mobile-font-size);
    margin-bottom: var(--heading-2-margin-bottom-mobile);
    width: var(--heading-width-mobile);
  }

  h2 {
    font-size: var(--heading-2-mobile-font-size);
    margin-bottom: var(--heading-2-margin-bottom-mobile);
    width: var(--heading-width-mobile);
  }
  h3 {
    font-size: var(--heading-3-mobile-font-size);
    margin-bottom: var(--heading-3-margin-bottom-mobile);
    width: var(--heading-width-mobile);
  }
  h4 {
    font-size: var(--heading-4-mobile-font-size);
    margin-bottom: var(--heading-4-margin-bottom-mobile);
    width: var(--heading-width-mobile);
  }
  h5 {
    font-size: var(--heading-5-mobile-font-size);
    margin-bottom: var(--heading-5-margin-bottom-mobile);
    width: var(--heading-width-mobile);
  }

  p {
    font-size: 1rem;
    width: var(--paragraph-mobile-width);
  }

  .designsystem-colors {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .buttons-grid {
    display: grid;
    grid-template-columns: var(--one-column-grid-mobile);
    margin-top: -17vh;
    margin-left: var(--spacing-20);
  }

  .CTA-button {
    max-width: var(--button-max-width-mobile);
    font-size: var(--button-mobile-font-size);
    padding-left: var(--button-mobile-padding);
    padding-right: var(--button-mobile-padding);
    text-align: var(--button-mobile-alignment);
  }

  .default-button {
    max-width: var(--button-max-width-mobile);
    font-size: var(--button-mobile-font-size);
    text-align: var(--button-mobile-alignment);
  }

  .button {
    max-width: var(--button-max-width-mobile);
    font-size: var(--button-mobile-font-size);
    padding-left: var(--button-mobile-padding);
    padding-right: var(--button-mobile-padding);
    text-align: var(--button-mobile-alignment);
    background-color: var(--color-green);
    color: var(--color-beige);
    border: 1px solid var(--color-beige);
  }
}

/*//GENERAL DESIGN SYSTEM RULES ENDS*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/*  ---------- NAV-BAR ---------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  z-index: 1;
}

.navbar button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.hamburger {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.hamburger img {
  display: block;
  width: 45px;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 350px;
  z-index: 1;
}

.icons img {
  max-width: 50px;
  padding-left: 10px;
  z-index: 1;
}

.navitem {
  margin-left: 2rem;
  z-index: 1;
}

.navlink {
  font-size: 17px;
  color: var(--text);
  font-family: neue-haas-grotesk-display, sans-serif;
  z-index: 1;
}

.navitem-1 .navlink-1 {
  font-size: 17px;
  margin-top: 15px;
  font-weight: 600;
  color: var(--header);
  font-family: neue-haas-grotesk-display, sans-serif;
  cursor: pointer;
}

.navitem-1 .dropdown {
  font-size: 17px;
  font-weight: 600;
  color: var(--header);
  font-family: neue-haas-grotesk-display, sans-serif;
  z-index: 1;
}

.navlogo img {
  max-width: 150px;
  z-index: 1;
}

/*Dropdown*/

.dropbtn {
  background-color: #04aa6d;
  color: black;
  font-family: neue-haas-grotesk-display, sans-serif;
  padding: 16px;
  font-size: 20px;
  border: none;
  z-index: 1;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown-index {
  position: relative;
  display: inline-block;
  z-index: 1;
}

#text {
  color: green;
}

.dropdown-index {
  position: relative;
  margin-top: 0px;
  width: 70px;
  height: 50px;
}

.dropdown-index::before {
  content: "";
  position: absolute;
  right: 0px;
  margin-top: 19px;
  z-index: 10000;
  width: 7px;
  height: 7px;
  border: 2px solid black;
  border-top: 2px solid var(--background-color);
  border-right: 2px solid var(--background-color);
  transform: rotate(-45deg);
  transition: 0.5s;
  cursor: pointer;
}

.dropdown-index.active::before {
  transform: rotate(-225deg);
  margin-top: 22px;
}

.dropdown-index .option {
  position: absolute;
  top: 60px;
  width: 300px;
  overflow: hidden;
  background: white;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  color: black;
  display: none;
}

.dropdown-index.active .option {
  display: block;
}

.dropdown-index .option a {
  font-size: 17px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.dropdown-index .option div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown-index .option a:hover {
  color: var(--header);
}

@media only screen and (max-width: 1450px) {
  .icons {
    margin-left: 240px;
  }
}
@media only screen and (max-width: 1200px) {
  .icons {
    margin-left: 170px;
  }
}

@media only screen and (max-width: 1100px) {
  .icons {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1030px) {
  body {
    padding-left: 35px;
    padding-right: 35px;
  }

  .dropdown .option {
    display: block;
  }

  .dropdown {
    display: flex;
  }

  .dropdown {
    justify-content: center;
  }

  .dropdown::before {
    display: none;
  }

  .navmenu {
    position: fixed;
    left: -100%;
    top: 8.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    z-index: 100;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navitem-1 .navlink-1 {
    font-size: 17px;
    margin-left: 13px;
  }

  .navmenu.active {
    left: 0;
  }

  .navitem {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-weight: 600;
  }

  .navlink {
    color: var(--header);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .icons {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .dropdown {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 250px;
  }

  .shop-dropdown {
    margin-left: 15px;
    margin-top: 20px;
  }

  .navitem-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 500px) {
    .navlogo img {
      max-width: 90px;
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 400px) {
    .navlogo img {
      max-width: 90px;
      margin-left: 0px;
    }
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*-------------------end of nav bar-------------------------------*/

.display-text h1 {
  font-family: "Madela";
  color: var(--displaytext);
  font-size: 90px;
}

.header-text-hero h2 {
  font-family: "Halogen";
  font-size: 15px;
  margin-top: 50px;
}

/*-------------------------Index starts----------------------------*/

.html-index {
  background-color: var(--color-orange);
  margin: 0px;
  padding: 0px;
}

/* .main-index {
  border: 2px solid red;
} */

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffab07;
}

/* .hero-text {
  padding-top: 35vh;
} */
.p-hero {
  margin-bottom: var(--paragraph-margin);
}

.h1-index {
  margin-top: 20vh;
}

.h2-index-mobile {
  visibility: hidden;
}

.hero-img {
  width: 50vw;
}

.decoration-circle {
  width: 10vw;
  display: block;
  margin-top: -10vh;
  margin-bottom: 10vh;
}

.index-section-2 {
  display: grid;
  grid-template-columns: var(--two-column-grid);
  height: 100vh;
  background-color: var(--color-background-default);
  margin: -100px;
}

.decoration-wire {
  width: 50vw;
}

.index-section-links-container {
  margin-left: 10vw;
}

.index-section-links {
  font-family: var(--font-family-display);
  font-size: var(--heading-display-font-size);
  color: transparent;
  -webkit-text-stroke-width: var(--text-stroke-width);
  -webkit-text-stroke-color: var(--color-text-display);
}

.index-section-links:hover {
  color: var(--color-text-display);
  -webkit-text-stroke-width: var(--text-stroke-width);
  -webkit-text-stroke-color: var(--color-text-display);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.index-section-links-filled {
  font-family: var(--font-family-display);
  font-size: var(--heading-display-font-size);
  color: var(--color-text-display);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.index-section-links-filled:hover {
  font-family: var(--font-family-display);
  font-size: var(--heading-display-font-size);
  color: transparent;
  -webkit-text-stroke-width: var(--text-stroke-width);
  -webkit-text-stroke-color: var(--color-text-display);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.h2-popular-styles {
  font-family: var(--font-family-display);
  font-size: var(--heading-2-font-size);
  color: var(--color-text-display);
  text-align: center;
}

.popular-styles {
  height: 80vh;
  background-color: var(--background-color);
  margin: -100px;
  margin-top: 150px;
  margin-bottom: 15vh;
}

.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 10rem;
  padding-right: 100px;
  padding-left: 100px;
}

.slider_container {
  display: block;
  white-space: nowrap;
}

.item {
  display: inline-block;
  margin-right: 10px;
}

.item img {
  width: 20vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: var(--border);
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 90vw;
  margin-left: auto;
}
.image2 {
  width: 40vw;
  position: absolute;
  top: 30px;
  left: 30px;
  /* border: 4px green solid; */
}

.link-toj-section {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2em;
  padding-left: 2.8em;
  padding-right: 2.8em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: var(--border);
  z-index: 1;
  color: var(--color-beige);
  border-radius: 50%;
}

.link-toj-section-toj {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: var(--border);
  z-index: 1;
  color: var(--color-beige);
  border-radius: 50%;
}

.link-container {
  width: 80vw;
  height: 20vh;
  background-color: var(--background-color-accent);
  position: inherit;
  text-align: center;
}

/*--------------------Product-list---------------------------*/

.list-container {
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-container .product {
  width: 300px;
  height: 350px;
  background: none;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.product body:hover {
  background-color: yellow;
}

.list-container .product-img {
  width: 250px;
  height: 300px;
  background: none;
  position: relative;
  overflow: hidden;
}

.list-container .product img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.list-container p {
  padding-top: 7px;
}

.list-container .product-name {
  display: flex;
}

.list-container .price {
  padding-left: 35px;
}

.product-name p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-list-overview {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.product-list-overview img {
  max-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.product-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.product-title img {
  max-width: 70px;
  cursor: pointer;
}

.product-title img:hover {
  animation-name: spin;
  animation-duration: 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-title h1 {
  margin-top: 8px;
}

.list-container .product:hover {
  width: 300px;
  height: 350px;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  animation-name: fadeup;
  animation-duration: 1s;
  cursor: pointer;
}

@keyframes fadeup {
  from {
    padding-top: 20px;
  }
  to {
    padding-top: 0px;
  }
}

/*-----------Kontakt page---------------*/

.contact {
  justify-content: center;
  margin-right: 20vw;
  margin-left: 20vw;
  text-align: center;
}

.contact h2 {
  margin-bottom: 30px;
}

.contact-1 {
  border-top: 1px solid black;
}

.contact-2 {
  padding-bottom: 100px;
  border-bottom: 1px solid black;
}

.contact h3 {
  text-align: left;
  margin-top: 15px;
}

.contact .webshop-kontakt {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*------------Check-out------------*/

.shop-videre {
  display: flex;
  margin-top: 40px;
}

.shop-videre img {
  max-width: 50px;
  transform: rotate(-180deg);
}

.shop-videre h3 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
}

.ordre-oversigt {
  margin-top: 20px;
}

.ordre-oversigt h1 {
  color: var(--text);
}

.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;
  background-color: yellow;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "products-checkout buying-details";
}

.products-checkout {
  grid-area: products-checkout;
}

.buying-details h1 {
  color: var(--text);
  font-size: 23px;
}

.buying-details {
  grid-area: buying-details;
}

.box-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  background-color: white;
  border: 1px solid black;
  grid-auto-flow: row;
  grid-template-areas: "section-1-box section-2-box";
}

.section-1-box {
  grid-area: section-1-box;
  display: flex;
}

.section-1-box img {
  max-width: 70px;
}

.section-2-box {
  grid-area: section-2-box;
}

/*-----------------Product Page--------------------*/

.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.product-section-img img {
  max-width: 400px;
}

.product-section-img-options {
  display: flex;
}

.product-section-img-options-img {
  width: 50px;
  height: 50px;
  background: none;
  position: relative;
  overflow: hidden;
  margin-right: 5px;
}

.product-section-img-options-img img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.product-section-text {
  margin-left: 50px;
}

.product-section-text img {
  max-width: 32px;
  max-height: 34px;
  margin-left: 15px;
  margin-top: 2px;
}

.product-section-text h3 {
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.titlewithheart {
  display: flex;
}

.product-section-text h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.product-section-text p {
  margin-bottom: 10px;
  margin-top: 30px;
}

.product-text-bottom-text {
  margin-top: 210px;
}

.product-text-bottom-text p {
  margin-top: 0px;
}

.size-options {
  display: flex;
}

.size-options p:hover {
  font-weight: 600;
}

.size-options p {
  margin-right: 30px;
  margin-bottom: 20px;
}

.product-section a {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
  font-family: neue-haas-grotesk-display, sans-serif;
  line-height: 25px;
}

.addtocart {
  border: solid 1px black;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  font-family: neue-haas-grotesk-display, sans-serif;
}

.color-options {
  display: flex;
  margin-bottom: 15px;
}

.color-options .navy-box {
  background-color: rgb(43, 51, 134);
  padding-right: 12px;
  margin-right: 6px;
  color: rgb(43, 51, 134);
  border: 3px solid rgb(43, 51, 134);
}

.color-options .black-box {
  background-color: rgb(0, 0, 0);
  padding-right: 12px;
  margin-right: 6px;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}

.color-options .white-box {
  background-color: rgb(255, 255, 255);
  padding-right: 12px;
  margin-right: 6px;
  color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
}
.color-options .darkgrey-box {
  background-color: rgb(72, 72, 72);
  padding-right: 12px;
  margin-right: 6px;
  color: rgb(72, 72, 72);
  border: 3px solid rgb(72, 72, 72);
}

.color-options .grey-box {
  background-color: rgb(154, 154, 154);
  padding-right: 12px;
  margin-right: 6px;
  color: rgb(154, 154, 154);
  border: 3px solid rgb(57, 90, 70);
}

@media only screen and (max-width: 867px) {
  .product-section-text {
    margin-left: 0px;
    margin-right: 25px;
    margin-top: 20px;
  }

  .product-text-bottom-text {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 540px) {
  .contact {
    justify-content: center;
    margin-right: 5vw;
    margin-left: 5vw;
    text-align: center;
  }
}

@media only screen and (max-width: 440px) {
  .product-section-img img {
    max-width: 90vw;
  }

  body {
    padding-left: var(--body-mobile-padding-left-right);
    padding-right: var(--body-mobile-padding-left-right);
  }
}

@media only screen and (max-width: 390px) {
  body {
    padding-left: var(--body-mobile-padding-left-right);
    padding-right: var(--body-mobile-padding-left-right);
  }

  .hero-section {
    display: grid;
    grid-template-columns: var(--grid-buttons-mobile);
  }

  .hero-img {
    position: relative;
    width: 200vw;
    margin-left: -22vh;
    overflow: hidden;
  }

  .img-container {
    width: 100vw;
    overflow: hidden;
  }

  .h1-index {
    visibility: hidden;
  }
  .hero-text {
    width: 100vw;
    position: absolute;
    padding: var(--body-mobile-padding-left-right);
    justify-items: center;
    padding-top: 25vh;
  }

  .p-hero {
    visibility: hidden;
  }

  .decoration-wire {
    width: 100vw;
    overflow: hidden;
  }

  .decoration-circle {
    width: 50vw;
    margin-top: -23vh;
    margin-left: 9vh;
  }

  .index-section-2 {
    display: grid;
    grid-template-columns: var(--grid-buttons-mobile);
    margin-top: 15vh;
    margin-left: 0vh;
    /* background-color: greenyellow; */
    height: 50vh;
    width: 24.375rem;
    text-align: center;
  }

  .index-section-links-filled {
    font-family: var(--font-family-display);
    font-size: var(--heading-display-mobile-font-size);
    color: var(--color-text-display);
    display: block;
  }
  .index-section-links-filled:hover {
    font-family: var(--font-family-display);
    font-size: var(--heading-display-mobile-font-size);
    color: transparent;
    -webkit-text-stroke-width: var(--text-stroke-width);
    -webkit-text-stroke-color: var(--color-text-display);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }

  .index-section-links {
    font-family: var(--font-family-display);
    font-size: var(--heading-display-mobile-font-size);
    color: transparent;
    -webkit-text-stroke-width: var(--text-stroke-width);
    -webkit-text-stroke-color: var(--color-text-display);
  }

  .index-section-links:hover {
    color: var(--color-text-display);
    font-size: var(--heading-display-mobile-font-size);
    -webkit-text-stroke-width: var(--text-stroke-width);
    -webkit-text-stroke-color: var(--color-text-display);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }

  .index-section-links-container {
    margin-left: 0px;
  }

  .h2-index-mobile {
    color: var(--color-brown);
    font-size: var(--heading-display-mobile-font-size);
    font-family: var(--font-family-display);
    visibility: visible;
    margin-top: -15vh;
  }

  .item img {
    width: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .popular-styles {
    height: 80vh;
    margin: -100px;
    margin-top: 5vh;
    width: 30.5rem;
  }

  .image1 {
    width: 100vw;
  }

  .image2 {
    width: 60vw;
    border: var(--border);
  }

  .image3 {
    width: 60vw;

    border: var(--border);
  }

  /* .parent {
    width: 100vw;
    height: 17vh;
    margin-top: -30vh;
  } */

  .link-toj-section-toj {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: var(--border);
    z-index: 1;
    color: var(--color-beige);
    border-radius: 50%;
  }

  .link-toj-section {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1em;
    padding-left: 2.8em;
    padding-right: 2.8em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: var(--border);
    z-index: 1;
    color: var(--color-beige);
    border-radius: 50%;
  }
}
@media only screen and (max-width: 700px) {
  body {
    /* padding-left: var(--body-mobile-padding-left-right);
    padding-right: var(--body-mobile-padding-left-right); */
    padding: 0px;
    margin: 0px;
  }

  .hero-section {
    display: grid;
    grid-template-columns: var(--grid-buttons-mobile);
  }

  .hero-img {
    position: relative;
    width: 170vw;
    margin-left: -30vh;
    overflow: hidden;
  }

  .img-container {
    width: 100vw;
    overflow: hidden;
  }

  .h1-index {
    visibility: hidden;
  }
  .hero-text {
    width: 100vw;
    position: absolute;
    padding: var(--body-mobile-padding-left-right);
    justify-items: center;
    padding-top: 25vh;
  }

  .p-hero {
    visibility: hidden;
  }

  .decoration-wire {
    width: 100vw;
    overflow: hidden;
  }

  .decoration-circle {
    width: 30vw;
    margin-top: -23vh;
    margin-left: 22vh;
  }

  .index-section-2 {
    display: grid;
    grid-template-columns: var(--grid-buttons-mobile);
    margin-top: 15vh;
    margin-left: 0vh;
    /* background-color: greenyellow; */
    height: 50vh;
    width: 39.2rem;
    text-align: center;
  }

  .index-section-links-filled {
    font-family: var(--font-family-display);
    font-size: var(--heading-display-mobile-font-size);
    color: var(--color-text-display);
    display: block;
  }
  .index-section-links-filled:hover {
    font-family: var(--font-family-display);
    font-size: var(--heading-display-mobile-font-size);
    color: transparent;
    -webkit-text-stroke-width: var(--text-stroke-width);
    -webkit-text-stroke-color: var(--color-text-display);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }

  .index-section-links {
    font-family: var(--font-family-display);
    font-size: var(--heading-display-mobile-font-size);
    color: transparent;
    -webkit-text-stroke-width: var(--text-stroke-width);
    -webkit-text-stroke-color: var(--color-text-display);
  }

  .index-section-links:hover {
    color: var(--color-text-display);
    font-size: var(--heading-display-mobile-font-size);
    -webkit-text-stroke-width: var(--text-stroke-width);
    -webkit-text-stroke-color: var(--color-text-display);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }

  .h2-popular-styles {
    font-size: var(--heading-2-mobile-font-size);
    margin-left: 18rem;
    margin-top: 27vh;
    margin-bottom: -15vh;
  }

  .index-section-links-container {
    margin-left: 0px;
  }

  .h2-index-mobile {
    color: var(--color-brown);
    font-size: var(--heading-display-mobile-font-size);
    font-family: var(--font-family-display);
    visibility: visible;
    margin-top: -15vh;
  }

  .item img {
    width: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .popular-styles {
    height: 80vh;
    margin: -100px;
    margin-top: 5vh;
    width: 44.5rem;
  }

  .image1 {
    width: 100vw;
  }

  .image2 {
    width: 60vw;
    border: var(--border);
  }

  .image3 {
    width: 60vw;

    border: var(--border);
  }

  .parent {
    width: 100vw;
    height: 30vh;
    margin-top: -20vh;
  }

  .link-toj-section-toj {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: var(--border);
    z-index: 1;
    color: var(--color-beige);
    border-radius: 50%;
  }

  .link-toj-section {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1em;
    padding-left: 2.8em;
    padding-right: 2.8em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: var(--border);
    z-index: 1;
    color: var(--color-beige);
    border-radius: 50%;
  }
}
