/*-------DESIGN SYSTEM---------*/

:root {
  /* // Global Tokens*/
  --color-beige: #f9f1e4;
  --color-orange: #ffab07;
  --color-green: #3d7d7d;
  --color-brown: #482828;
  --color-black: black;
  --color-transparent: transparent;

  --font-family-heading: "Madela", serif;
  --font-family-body: "neue-haas-grotesk-display", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --heading-font-size-largest: 6rem;
  --heading-font-size-large: 3.75rem;
  --heading-font-size-medium: 2.8125rem;
  --heading-font-size-small: 1.5625rem;
  --heading-font-size-smallest: 1.125rem;

  --heading-line-height: 1;
  --text-line-height: 1.5;
  --button-line-height: 1.2;

  --text-font-size-largest: 1.25rem;
  --text-font-size-large: 1.125rem;
  --text-font-size-default: 1rem;
  --text-font-size-small: 0.875rem;

  --letter-spacing-small: 0.03rem;
  --letter-spacing-medium: 0.05rem;

  --sizing-small: 5rem;
  --sizing-medium: 7rem;
  --sizing-large: 9rem;

  --spacing-10: 0.5rem;
  --spacing-15: 1rem;
  --spacing-20: 2rem;
  --spacing-30: 3rem;
  --spacing-40: 4rem;
  --spacing-80: 8rem;

  --border-width-thick: 2px;
  --border-width-thin: 1px;

  --padding-10: 1rem;
  --padding-20: 3rem;
  --padding-30: 4rem;

  --timing-function-default: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-medium: 300ms;
  --transition: all 0.2s ease-in-out;

  /*// Contextual tokens*/
  --color-text-default: var(--color-black);
  --color-text-display: var(--color-brown);
  --color-text-heading: var(--color-green);

  --color-background-default: var(--color-beige);
  --color-background-accent: var(--color-orange);
  --color-accent-green: var(--color-green);
  --color-transparent: var(--color-transparent);

  --gutter: var(--spacing-15);

  /*//Component tokens headings*/
  --heading-display-font-size: var(--heading-font-size-largest);
  --heading-display-line-height: var(--heading-line-height);
  --heading-2-font-size: var(--heading-font-size-large);
  --heading-2-line-height: var(--heading-line-height);
  --heading-3-font-size: var(--font-size-medium);
  --heading-3-line-height: var(--heading-line-height);
  --heading-4-font-size: var(--font-size-small);
  --heading-4-line-height: var(--heading-line-height);
  --heading-5-font-size: var(--font-size-smallest);
  --heading-5-font-size: var(--heading-line-height);

  /*//Component tokens text*/

  --text-largest-font-size: var(--text-font-size-largest);
  --text-large-font-size: var(--text-font-size-large);
  --text-medium-font-size: var(--text-font-size-medium);
  --text-small-font-size: var(--text-font-size-small);

  /*// Component tokens - buttons*/
  /*// CTA*/
  --CTA-button-background-color: var(--color-background-default);
  --CTA-button-background-color-hover: var(--color-transparent);
  --CTA-button-size: var(--sizing-large);

  /*//Regular*/
  --button-background-color: var(--color-background-transparent);
  --button-background-color-hover: var(--color-background-default);

  /*//Rules for both buttons*/
  --button-border-color: var(--color-accent-green);
  --padding-left-right-button: var(--padding-20);
  --padding-top-bottom-button: var(--padding-10);
  --border-width-button: var(--border-width-thick);
  --button-line-height: var(--button-line-height);
  --button-text-color: var(--color-text-heading);

  --button-transition: var(--transition);
}

/*//GENERAL DESIGN SYSTEM RULES*/

.CTA-button {
  background-color: var(--CTA-button-background-color);
  font-size: var(--text-largest-font-size);
  padding-left: var(--padding-left-right-button);
  padding-right: var(--padding-left-right-button);
  padding-top: var(--padding-top-bottom-button);
  padding-bottom: var(--padding-top-bottom-button);
  color: var(--button-text-color);
  border: var(--border-width-button) solid var(--button-border-color);
  transition: var(--button-transition);
  margin: var(--gutter);
}

.CTA-button:hover {
  background-color: var(--CTA-button-background-color-hover);
}

.Button {
  background-color: var(--button-background-color);
  font-size: var(--text-largest-font-size);
  padding-left: var(--padding-left-right-button);
  padding-right: var(--padding-left-right-button);
  padding-top: var(--padding-top-bottom-button);
  padding-bottom: var(--padding-top-bottom-button);
  color: var(--color-text-heading);
  border: var(--border-width-button) solid var(--button-border-color);
  transition: var(--button-transition);
}

.Button:hover {
  background-color: var(--button-background-color-hover);
}

h1 {
  color: var(--color-text-heading);
  font-size: var(--heading-display-font-size);
  font-family: var(--font-family-heading);
}

h2 {
  color: var(--color-text-heading);
  font-size: var(--heading-font-size-large);
}
h3 {
  color: var(--color-text-heading);
  font-size: var(--heading-font-size-medium);
}
h4 {
  color: var(--color-text-heading);
  font-size: var(--heading-font-size-small);
}
h5 {
  color: var(--color-text-heading);
  font-size: var(--heading-font-size-smallest);
}

p {
  font-family: var(--font-family-body);
}

/*//GENERAL DESIGN SYSTEM RULES ENDS*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: var(--background-color);
  padding-left: 80px;
  padding-right: 80px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1rem;
}

/*  ---------- NAV-BAR ---------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.navbar button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger img {
  display: block;
  width: 45px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 350px;
}

.icons img {
  max-width: 50px;
  padding-left: 10px;
}

.navitem {
  margin-left: 2rem;
}

.navlink {
  font-size: 20px;
  color: var(--text);
  font-family: neue-haas-grotesk-display, sans-serif;
}

.navitem-1 .navlink-1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--header);
  font-family: neue-haas-grotesk-display, sans-serif;
}

.navlogo img {
  max-width: 150px;
}

@media only screen and (max-width: 1450px) {
  .icons {
    margin-left: 240px;
  }
}
@media only screen and (max-width: 1200px) {
  .icons {
    margin-left: 170px;
  }
}

@media only screen and (max-width: 1100px) {
  .icons {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1030px) {
  body {
    padding-left: 35px;
    padding-right: 35px;
  }

  .navmenu {
    position: fixed;
    left: -100%;
    top: 8.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navmenu.active {
    left: 0;
  }

  .navitem {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .icons {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .navlink-1 {
    margin-left: 15px;
    margin-top: 20px;
  }

  .navitem-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*-------------------end of nav bar-------------------------------*/

.display-text h1 {
  font-family: "Madela";
  color: var(--displaytext);
  font-size: 90px;
}

.header-text-hero h2 {
  font-family: "Halogen";
  font-size: 15px;
  margin-top: 50px;
}

/*INDEX*/

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffab07;
  margin-left: -100px;
  margin-right: -100px;
}

.hero-section-right {
  padding-top: 35vh;
}

.index-body {
  background-color: var(--background-color-accent);
}

.button-CTA {
  background-color: #f9f1e4;
  color: (var(--background-color-accent-2));
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #3d7d7d;
}

.button {
  background-color: transparent;
  color: (var(--background-color-accent-2));
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #3d7d7d;
}

.hero-img {
  width: 50vw;
}

.index-h1 {
  font-family: "Madela";
  color: #3d7d7d;
  font-size: 90px;
}

.decoration {
  width: 10vw;
  display: block;
  margin-top: -10vh;
  margin-bottom: 10vh;
}

.hero-section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: var(--background-color);
  margin: -100px;
  margin-top: 150px;
  margin-bottom: -200px;
}

.decoration-wire {
  width: 50vw;
  transform: rotate(90deg);
}

.hero-section-links-container {
  margin-left: 10vw;
}

.hero-section-links {
  font-family: "Madela";
  font-size: 90px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3d7d7d;
}

.hero-section-links:hover {
  font-family: "Madela";
  font-size: 90px;
  color: #3d7d7d;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3d7d7d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero-section-links-filled {
  font-family: "Madela";
  font-size: 90px;
  color: #3d7d7d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero-section-links-filled:hover {
  font-family: "Madela";
  font-size: 90px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3d7d7d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.popular-styles {
  height: 80vh;
  background-color: var(--background-color);
  margin: -100px;
  margin-top: 150px;
}

.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
}

.slider_container {
  display: block;
  white-space: nowrap;
}

.item {
  display: inline-block;
  margin-right: 10px;
}

.item img {
  width: 20vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.h2-popular-styles {
  font-family: "Madela";
  font-size: 3.125rem;
  color: #3d7d7d;
  text-align: center;
  margin-bottom: -100px;
}

.parent {
  position: relative;
  background-color: #3d7d7d;
  height: 55vh;
  width: 90vw;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 90vw;
  margin-left: auto;
  /* border: 3px red solid; */
}
.image2 {
  width: 40vw;
  position: absolute;
  top: 30px;
  left: 30px;
  /* border: 4px green solid; */
}

.image3 {
  width: 40vw;
  position: absolute;
  top: 30px;
  left: 40vw;
  /* border: 4px blue solid; */
}

/* .link-toj-section {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  border-radius: 80px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid orange;
  z-index: 1;
} */

/* .link-toj-section {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding-left: 8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 8rem;
  border-radius: 50%;
  border: 5px solid orange;
} */

/* .link-toj-section:hover {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: orange;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding-left: 8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 8rem;
  border-radius: 50%;
  border: 5px solid orange;
} */

.link-toj-section {
  font-size: 2rem;
  color: orange;
  border: 5px solid orange;
}

.link-toj-section:hover {
  font-size: 2rem;
  border: 5px solid orange;
  color: white;
}

.link-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 80vw;
  height: 20vh;
  background-color: var(--background-color-accent);
  position: inherit;
  text-align: center;
}
